.feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
}

/* .card {
  border: 5px solid red;
} */

.bottom-container {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.thumbnail-image {
  height: 190px;
  border-radius: 15px;
}

.thumbnail-avatar {
  height: 24px;
  margin-right: 9px;
  border-radius: 50%;
}

h3,
p {
  margin: 0;
}

.vertical-container p {
  color: #a3a3a3;
  font-weight: lighter;
  font-size: 14px;
}

.card:-webkit-any-link {
  color: #282828;
  cursor: pointer;
  text-decoration: none;
}
